<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Modern Portolfio Theory Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <div class="header">
            <h1 class="header">Modern Portoflio Theory Project</h1>
        </div>

        <!-- make a div called list-box and make a panel to list elements vertically that scrolls when there is too many to fit-->
        <div class="center-panel">
            <div class="panel">
                <div class="panel-header">
                    <h2 id="panel-header-text">Portfolio</h2>
                </div>
                <div class="panel-contents">
                    {% for item in stocks %}
                        <form class="button-form" action="https://finance.yahoo.com/quote/{{item}}?p={{item}}">
                            <button class="stock-button" type="submit">{{item}}</button>
                        </form>
                        <br>
                    {% endfor %}
                </div>
                <div class="input-adder">
                    <!-- add a textbox -->
                    <input id="tickerSymbolInput" type="text" placeholder="Ticker">
                    <div id="input-buttons">
                        <button id="add-ticker-button">Add</button>        
                        <button id="remove-ticker-button">Remove</button>
                    </div>
                </div>
            </div>

            <div class="compute-button-div">
                <button class="compute-button" type="button">COMPUTE</button>

                <img id="portfolio-image" src="./static/{{result}}" alt="">
            </div>

        </div>
        
    </body>
</html>