* {
    background-color: #f5e4d5;
}

.header {
    background-color:#b5a393;
    display: flex;
    margin: auto;
    border-radius: 20px;
    padding: 1%;
}

.center-panel {
    display: flex;
}

.panel {
    margin-top: 20px;
    display: inline-grid;
    width: 27vw;
    height: 90%;
    margin-right: 2vw;
}

.panel .panel-header {
    background-color: #b5a393;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.panel #panel-header-text {
    background-color: #b5a393;
    margin-left: 2vw
}

.panel-contents {
    background-color: #deccbd;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    display: grid;
}

.panel .panel-contents .panel-element {
    background-color: #deccbd;
}

#tickerSymbolInput {
    width: 25vw;
    margin-top: 3vh;
}

#add-ticker-button {
    margin-top: 1vh;
    width: 12vw;
}

#remove-ticker-button {
    margin-top: 1vh;
    width: 12vw;
}

#clear-ticker-button {
    margin-top: 1vh;
    width: 24vw;
}

.input-adder {
    width: 25vw;
    margin-top: 3vh;
}

.button-form {
    background-color: #deccbd;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.stock-button {
    width: 21vw;
    border-radius: 2px;
    background-color: transparent;
}

#portfolio-image {
    margin-top: 20px;
    border-radius: 20px;
    width: 60vw;
    /* calculate the height to be responsive as well as preserve the aspect ratio with the width */
    height: calc(60vw * 0.75);
}